@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

body {
  background-color: #ff8b5f;
  color: white;
  font-family: Inter;
}

a {
  color: inherit;
}
